{% if entry.type == 'instagram' %}
    {% redirect "/" %}
{% endif %}

{% extends 'layouts/layout' %}

{% block content %}

    <section class="flex flex-wrap px-grid">
        <div class="w-full">
            <h1 class="text-32 md:text-4xl xl:text-4-5xl text-black font-normal leading-tight pb-10">{{ entry.title }}</h1>
        </div>
        <div class="w-full">
            {% if entry.processIntroduction|length %}
                <h4 class="text-4-5xl font-normal">{{ entry.processIntroduction }}</h4>
            {% elseif entry.heroImage|length %}
                {% set image = entry.heroImage.one() %}
                <img src="{{ image.getUrl() }}" alt="{{ entry.title }}" title="{{ entry.title }}">
            {% else %}
            {% endif %}
        </div>

        <div class="flex flex-col-reverse md:flex-row flex-wrap md:flex-no-wrap w-full">
            <div class="w-full md:w-1/3 md:py-border">
                {% for scope in entry.scope.all() %}
                    <h5 class="text-black text-lg uppercase pb-border">{{ scope.scopeTitle }}</h5>
                    <ul class="list-reset pb-border">
                        {% for item in scope.scope.all() %}
                            <li class="text-blue text-lg font-mono">{{ item.scope }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
            <div class="w-full md:w-2/3 pb-3 md:py-border">
                {{ entry.paragraph|nl2br|retconAttr('p', {class: 'text-2xl font-normal leading-normal pb-5'})|retconAttr('a', { class: 'text-blue no-underline hover:underline' }) }}
            </div>
        </div>

        {% for block in entry.contentBlocks.all() %}
            <div class="hidden md:block w-1/3">
            </div>
            <div class="w-full md:w-2/3 py-10">
                {% if block.type == "image" %}

                    {% set image = block.image.one() %}
                    <img src="{{ image.url() }}" alt="" title="">

                {% elseif block.type == "text" %}
                    {{ block.text|nl2br|retconAttr('p', {class: 'text-2xl font-normal leading-normal pb-5'})|retconAttr('a', { class: 'text-blue no-underline hover:underline' }) }}
                {% endif %}
            </div>
        {% endfor %}
    </section>

{% endblock %}
