{% extends 'layouts/layout' %}

{% block content %}

    <div class="flex flex-wrap w-full">
        {% if entry.pageTitle|length  %}
            <h1 class="text-32 md:text-4xl xl:text-56 text-blue font-normal leading-tight px-grid"><a href="/" class="text-blue no-underline">{{ entry.pageTitle }}</a></h1>
        {% endif %}
        {% if entry.pageIntroduction|length  %}
            {{ entry.pageIntroduction|nl2br|retconAttr('p', {class: 'text-black font-normal leading-tight text-32 md:text-4xl xl:text-56 px-grid pb-8'}) }}
        {% endif %}
    </div>

    <section class="flex flex-wrap w-full pt-20">
        {% set feeds = craft.entries.section('feed') %}

        {% for feed in feeds.all() %}
            {% if feed.displayOnFeed %}
                {% if feed.type == 'projects' %}
                    {# Post display width #}
                    {% if feed.heroImageWidth.value == "oneThird" %}
                        <div class="project w-full sm:w-1/2 lg:w-1/3 px-grid pb-10">
                    {% elseif feed.heroImageWidth.value == "twoThirds" %}
                        <div class="project w-full sm:w-1/2 lg:w-2/3 px-grid pb-10">
                    {% elseif feed.heroImageWidth.value == "fullWidth" %}
                        <div class="project w-full sm:w-1/2 lg:w-full px-grid pb-10">
                    {% else %}
                        <div class="project w-full sm:w-1/2 lg:w-1/3 px-grid pb-10">
                    {% endif %}

                        {% set category = feed.category.one() %}

                        <h3 class="text-lg font-mono font-normal text-blue pb-5">{% if feed.category|length %}<a href="/project/{{ category.slug }}" class="text-blue no-underline uppercase hover:italic">{{ category.title }}:</a> {% endif %}<a href="{{ feed.url }}" class="text-blue no-underline hover:italic">{{ feed.title }}</a></h3>

                        <a href="{{ feed.url }}" class="no-underline hover:italic">
                            {% set image = feed.heroImage.one() %}
                            <img src="{{ image.getUrl() }}" alt="{{ feed.title }}" title="{{ feed.title }}">
                        </a>
                    </div>

                {% elseif feed.type == 'process' %}

                    {% if feed.heroImageWidth.value == "oneThird" %}
                        <div class="process w-full sm:w-1/2 lg:w-1/3 px-grid pb-10">
                    {% elseif feed.heroImageWidth.value == "twoThirds" %}
                        <div class="process w-full sm:w-1/2 lg:w-2/3 px-grid pb-10">
                    {% elseif feed.heroImageWidth.value == "fullWidth" %}
                        <div class="process w-full sm:w-1/2 lg:w-full px-grid pb-10">
                    {% else %}
                        <div class="process w-full sm:w-1/2 lg:w-1/3 px-grid pb-10">
                    {% endif %}
                        <a href="{{ feed.url }}" class="feed-link no-underline hover:italic">
                            <h3 class="text-lg font-mono font-normal text-blue pb-5">Process: {{ feed.title }}</h3>
                            {% if feed.processIntroduction|length %}
                                <h4 class="text-4-5xl font-normal text-blue">{{ feed.processIntroduction }}</h4>
                            {% elseif feed.heroImage|length %}
                                <div class="leading-none bg-grey-lighter hover:bg-blue p-4">
                                    {% set image = feed.heroImage.one() %}
                                    <img src="{{ image.getUrl() }}" alt="{{ feed.title }}" title="{{ feed.title }}">
                                    {% if feed.paragraph|length %}
                                        <p class="text-lg text-black leading-normal pt-4">{{ feed.paragraph|nl2br|striptags }} ➝</p>
                                    {% endif %}
                                </div>
                            {% else %}
                                {# Nothing #}
                            {% endif %}
                        </a>
                    </div>

                {#{% elseif feed.type == 'instagram' %}

                    {% set asset = feed.instagram.one() %}
                    {% set embeddedAsset = craft.embeddedAssets.get(asset) %}

                    {% if feed.heroImageWidth.value == "oneThird" %}
                        <div class="project w-full sm:w-1/2 lg:w-1/3 px-grid pb-10">
                    {% elseif feed.heroImageWidth.value == "twoThirds" %}
                        <div class="project w-full sm:w-1/2 lg:w-2/3 px-grid pb-10">
                    {% elseif feed.heroImageWidth.value == "fullWidth" %}
                        <div class="project w-full sm:w-1/2 lg:w-full px-grid pb-10">
                    {% else %}
                        <div class="project w-full sm:w-1/2 lg:w-1/3 px-grid pb-10">
                    {% endif %}
                        <a href="{{ embeddedAsset.url }}" target="_blank" rel="noreferrer noopener" class="no-underline">
                            <h3 class="text-lg font-normal text-blue pb-5">Instagram: {{ feed.title }}</h3>
                            <img src="{{ embeddedAsset ? embeddedAsset.image }}" alt="{{ feed.title }}" title="{{ feed.title }}">
                        </a>
                    </div>#}

                {% endif %}
            {% endif %}
        {% endfor %}
    </section>

{% endblock %}
