{% extends 'layouts/layout' %}

{% block content %}

    <div class="w-full pb-16">
        {% if entry.pageTitle|length  %}
            <h1 class="text-32 md:text-4xl xl:text-56 text-white font-normal leading-tight px-grid"><a href="/" class="text-white no-underline">{{ entry.pageTitle }}</a></h1>
        {% endif %}
        {% if entry.pageIntroduction|length  %}
            {{ entry.pageIntroduction|nl2br|retconAttr('p', {class: 'text-white font-normal leading-tight text-32 md:text-3xl md:text-4xl xl:text-56 px-grid pb-8'}) }} {% if entry.pageBody|length  %}<span class="expand-arrow cursor-pointer inline-block text-white font-normal leading-tight text-3xl md:text-4xl xl:text-56 px-grid pb-8">⇥</span>{% endif %}
        {% endif %}
        {% if entry.pageBody|length  %}
            <div class="expand-content hidden">
                <br>
                {{ entry.pageBody|nl2br|retconAttr('p', {class: 'text-white font-normal leading-tight text-32 md:text-3xl md:text-4xl xl:text-56 px-grid pb-8'}) }}<span class="reduce-arrow inline-block cursor-pointer text-white font-normal leading-tight text-3xl md:text-4xl xl:text-56 px-grid">⇤</span>
            </div>
        {% endif %}
    </div>

        <div class="flex flex-wrap w-full font-mono text-white leading-normal pt-2 px-grid">
            <div class="flex flex-wrap w-full md:w-1/3">
                <div class="w-full md:w-1/2 pb-12 md:pb-0">
                    <p class="text-15 md:text-lg uppercase pb-6">Services</p>
                    {% set services = craft.categories.group('categories') %}
                    {% for service in services.all() %}
                        <p class="text-15 md:text-lg"><a href="/project/{{ service.slug }}" class="text-white no-underline hover:italic">{{ service.title }}</a></p>
                    {% endfor %}
                </div>
                <div class="w-full md:w-1/2 pb-12 md:pb-0">
                    {% if entry.partners|length %}
                        <p class="text-15 md:text-lg uppercase pb-6">Partners</p>
                        {% for partner in entry.partners.all() %}
                        {% if partner.partnerLink|length %}
                            <a href="{{ partner.partnerLink }}" class="text-15 md:text-lg text-white no-underline" target="_blank" rel="noreferrer noopener">{{ partner.partnerTitle }}</a><br>
                        {% else %}
                            <p class="text-15 md:text-lg text-white">{{ partner.partnerTitle }}</p>
                        {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="flex flex-wrap text-lg w-full md:w-1/3">
                <div class="w-full text-15 md:text-lg pb-12 md:pb-8">
                    {{ entry.splitParagraph.left|nl2br|retconAttr('a', { class: 'text-white no-underline hover:italic' })|retconAttr('u', { class: 'uppercase no-underline' }) }}
                </div>
                <div class="w-full text-15 md:text-lg pb-12 md:pb-8">
                    {{ entry.splitParagraph.right|nl2br|retconAttr('a', { class: 'text-white no-underline hover:italic' })|retconAttr('u', { class: 'uppercase no-underline' }) }}
                </div>
            </div>
            <div class="flex flex-wrap w-full md:w-1/3">
                <div class="w-full">
                    {% if entry.social|length %}
                        <p class="text-15 md:text-lg uppercase pb-6">Social</p>
                        {% for social in entry.social.all() %}
                            <a href="{{ social.socialLink }}" class="text-15 md:text-lg text-white no-underline hover:italic" target="_blank" rel="noreferrer noopener">{{ social.socialTitle }}</a><br>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {#<div class="w-full">
        {{ entry.paragraph|nl2br|retconAttr('p', {class: 'text-base font-normal leading-tight px-5'})|retconAttr('a', { class: 'text-white no-underline hover:underline' }) }}
    </div>#}

{% endblock %}
