<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>{{ siteName }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />

    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">

    {# Cachebust the CSS/JS #}
    {% set assetVersion = craft.app.config.env == "dev" ? date().getTimestamp() : 0.001 %}
    {# Until we're live, cachebust all assets #}
    {#{% set assetVersion = date().getTimestamp() %}#}

    {# CSS #}
    {% do view.registerCssFile("/assets/css/main.css?v="~assetVersion) %}
</head>
<body class="error-page font-sans font-normal">

    <main class="flex flex-wrap px-3">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="w-full pt-20">
    </footer>

</body>
</html>
