<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>{{ siteName }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />

    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono" rel="stylesheet">

    {# Cachebust the CSS/JS #}
    {% set assetVersion = craft.app.config.env == "dev" ? date().getTimestamp() : 0.011 %}
    {# Until we're live, cachebust all assets #}
    {#{% set assetVersion = date().getTimestamp() %}#}

    {# CSS #}
    {% do view.registerCssFile("/assets/css/main.css?v="~assetVersion) %}
</head>
<body class="{{ entry is defined ? entry.title|lower : "memory" }}-page font-sans font-normal">

    {# If we're on a category page, set the entry to the project single #}
    {% if craft.app.request.getSegment(1) == "project" and entry is not defined %}
        {% set entry = craft.entries({
            "id": 3
        }).one() %}
    {% endif %}

    {% include 'includes/header' %}

    <main class="flex flex-wrap px-3 sm:px-border">
        {% block content %}
        {% endblock %}
    </main>

    {% include 'includes/footer' %}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    {% do view.registerJsFile("/assets/js/main.min.js?v="~assetVersion) %}
    <script src="//instant.page/1.1.0" type="module" integrity="sha384-EwBObn5QAxP8f09iemwAJljc+sU+eUXeL9vSBw1eNmVarwhKk2F9vBEpaN9rsrtp"></script>
</body>
</html>
