<footer class="font-mono px-3 sm:px-border pt-32 pb-16">
    <nav class="flex w-full list-reset text-15 md:text-lg">
        <div class="flex w-full md:w-1/2 uppercase">
            {% if entry.type == "contact" %}
                <li class="w-1/3 px-grid">
                    <a href="/project" class="text-white no-underline hover:italic">Project</a>
                </li>
                <li class="w-1/3 pr-grid">
                    <a href="/process" class="text-white no-underline hover:italic">Process</a>
                </li>
                <li class="w-1/3 pr-grid">
                    <a href="/studio" class="text-white no-underline hover:italic">Studio</a>
                </li>
            {% else %}
                <li class="w-1/3 px-grid">
                    <a href="/project" class="{{ entry.type == "project" ? "text-black" : "text-blue" }} text-black no-underline hover:italic">Project</a>
                </li>
                <li class="w-1/3 pr-grid">
                    <a href="/process" class="{{ entry.type == "process" ? "text-black" : "text-blue" }} no-underline hover:italic">Process</a>
                </li>
                <li class="w-1/3 pr-grid">
                    {# Craft not updating entry.type for studio #}
                    <a href="/studio" class="{{ entry.type == "contact" ? "text-black" : "text-blue" }} no-underline hover:italic">Studio</a>
                </li>
            {% endif %}
        </div>
        <div class="flex w-auto md:w-1/2 justify-end">
            <p class="hidden md:flex {{ entry.type == "contact" ? "text-white" : "text-black" }} font-sans {% if entry.type == "memory" %}pr-grid{% else %}pr-10{% endif %}">Mermory&copy; {{ now|date('Y') }}</p>
            {% if entry.type == "memory" %}
            {% else %}
                <a href="/" class="hidden md:flex {{ entry.type == "contact" ? "text-white hover:italic" : "text-blue hover:text-blue" }} no-underline pr-grid">{% include 'icons/return' %}</a>
            {% endif %}
        </div>
    </nav>
</footer>
