<header class="font-mono px-3 sm:px-border pt-6 md:pt-10 pb-16">
    <nav class="flex w-full list-reset uppercase text-15 md:text-lg">
        <div class="flex w-full md:w-1/2">
            {% if entry.type == "contact" %}
                <li class="w-1/3 px-grid">
                    <a href="/project" class="text-white no-underline hover:italic">Project</a>
                </li>
                <li class="w-1/3 pr-grid">
                    <a href="/process" class="text-white no-underline hover:italic">Process</a>
                </li>
                <li class="w-1/3 pr-grid">
                    <a href="/studio" class="text-white no-underline hover:italic">Studio</a>
                </li>
            {% else %}
                <li class="w-1/3 px-grid">
                    <a href="/project" class="{{ entry.type == "project" ? "text-black" : "text-blue" }} no-underline hover:italic">Project</a>
                </li>
                <li class="w-1/3 pr-grid">
                    <a href="/process" class="{{ entry.type == "process" ? "text-black" : "text-blue" }} no-underline hover:italic">Process</a>
                </li>
                <li class="w-1/3 pr-grid">
                    {# Craft not updating entry.type for studio #}
                    <a href="/studio" class="{{ entry.type == "contact" ? "text-black" : "text-blue" }} no-underline hover:italic">Studio</a>
                </li>
            {% endif %}
        </div>
        {% if entry.type == "memory" %}
        {% else %}
            <div class="hidden md:flex w-auto md:w-1/2 justify-end">
                <a href="/" class="{{ entry.type == "contact" ? "text-white hover:italic" : "text-blue hover-text-blue" }} no-underline pr-grid">{% include 'icons/return' %}</a>
            </div>
        {% endif %}
    </nav>
</header>
