{% extends 'layouts/error-layout' %}

{% block content %}

    {% set entry = craft.entries.section('memory').one() %}

    <div class="w-full">
        <h1 class="text-4-5xl text-blue font-normal leading-tight px-5 pt-6">{{ entry.pageTitle }}</h1>
    </div>

    <div class="w-full">
        <h2 class="text-4-5xl text-black font-normal leading-tight px-5">Memory™ is an Asia-Pacific product design studio with a reputation for creating memorable objects and experiences. Our new website will be online soon!</h2>
    </div>

{% endblock %}
