{% extends 'layouts/layout' %}

{% block content %}

    <div class="flex flex-wrap w-full">
        {% if entry.pageTitle|length  %}
            <div class="w-full">
                <h1 class="text-32 md:text-4xl xl:text-56 text-blue font-normal leading-tight px-grid"><a href="/" class="text-blue no-underline">{{ entry.pageTitle }}</a></h1>
            </div>
        {% endif %}
        {% if entry.pageIntroduction|length  %}
            {{ entry.pageIntroduction|nl2br|retconAttr('p', {class: 'text-black font-normal leading-tight text-32 md:text-4xl xl:text-56 px-grid pb-8'}) }}
        {% endif %}
    </div>

    <section class="flex flex-wrap w-full pt-20">
        {% set feeds = craft.entries.section('feed').type('process') %}

        {% for feed in feeds.all() %}
            {% if feed.heroImageWidth.value == "oneThird" %}
                <div class="process w-full sm:w-1/2 lg:w-1/3 px-grid pb-10">
            {% elseif feed.heroImageWidth.value == "twoThirds" %}
                <div class="process w-full sm:w-1/2 lg:w-2/3 px-grid pb-10">
            {% elseif feed.heroImageWidth.value == "fullWidth" %}
                <div class="process w-full sm:w-1/2 lg:w-full px-grid pb-10">
            {% else %}
                <div class="process w-full sm:w-1/2 lg:w-1/3 px-grid pb-10">
            {% endif %}
                <a href="{{ feed.url }}" class="no-underline hover:italic">
                    <h3 class="text-lg font-normal text-blue pb-5"><span class="uppercase">Process</span>: {{ feed.title }}</h3>
                    {% if feed.processIntroduction|length %}
                        <h4 class="text-4-5xl font-normal text-blue">{{ feed.processIntroduction }}</h4>
                    {% elseif feed.heroImage|length %}
                        {% set image = feed.heroImage.one() %}
                        <img src="{{ image.getUrl() }}" alt="{{ feed.title }}" title="{{ feed.title }}">
                    {% else %}
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    </section>

{% endblock %}
