{% extends 'layouts/layout' %}

{% block content %}

    {# If we’re on an article category page, load up the category so we can filter entries #}
    {% set projectCat = null %}
    {% if craft.app.request.getSegment(2) %}
        {% set projectCat = craft.categories({
            group: "categories",
            slug: craft.app.request.getSegment(2)
        }).one() %}
    {% endif %}

    {% paginate craft.entries.section('feed').relatedTo(projectCat).type('projects') as feedNav, feeds %}
    {% set categories = craft.categories.group('categories') %}

    <div class="flex flex-wrap w-full">
        {% if entry.pageTitle|length  %}
            <div class="w-full">
                <h1 class="text-32 md:text-4xl xl:text-56 text-blue font-normal leading-tight px-grid"><a href="/" class="text-blue no-underline">{{ entry.pageTitle }}</a></h1>
            </div>
        {% endif %}
        {% if entry.pageIntroduction|length  %}
            {{ entry.pageIntroduction|nl2br|retconAttr('p', {class: 'text-black font-normal leading-tight text-32 md:text-4xl xl:text-56 px-grid pb-8'}) }}
        {% endif %}
    </div>

    <section class="flex flex-wrap w-full pt-20">

        {% for feed in feeds %}
            {% if feed.heroImageWidth.value == "oneThird" %}
                <div class="project w-full sm:w-1/2 lg:w-1/3 px-grid pb-10">
            {% elseif feed.heroImageWidth.value == "twoThirds" %}
                <div class="project w-full sm:w-1/2 lg:w-2/3 px-grid pb-10">
            {% elseif feed.heroImageWidth.value == "fullWidth" %}
                <div class="project w-full sm:w-1/2 lg:w-full px-grid pb-10">
            {% else %}
                <div class="project w-full sm:w-1/2 lg:w-1/3 px-grid pb-10">
            {% endif %}

                {% set category = feed.category.one() %}

                <h3 class="text-lg font-normal text-blue pb-5">{% if feed.category|length %}<a href="/project/{{ category.slug }}" class="text-blue no-underline uppercase hover:italic">{{ category.title }}:</a> {% endif %} <a href="{{ feed.url }}" class="text-blue no-underline hover:italic">{{ feed.title }}</a></h3>

                <a href="{{ feed.url }}" class="no-underline hover:italic">
                    {% set image = feed.heroImage.one() %}
                    <img src="{{ image.getUrl() }}" alt="{{ feed.title }}" title="{{ feed.title }}">
                </a>
                
            </div>
        {% endfor %}
    </section>

{% endblock %}
