<svg width="16" height="13" xmlns="http://www.w3.org/2000/svg"><text transform="translate(-1381 -22)" class="fill-current" fill-rule="evenodd" font-family="LucidaGrande, Lucida Grande" font-size="18" letter-spacing=".206"><tspan x="1380" y="34">↩︎</tspan></text></svg>
